<body style="background: gray; display: flex; flex-direction: column;">
	<div  style="display: flex; flex-direction: row;"> 
		<h2> Produktname</h2>
		<h2> Produktprice</h2>
	</div>
	<div style="display: flex; flex-direction: row;"> 
		<p> apple </p>
		<p> 1,29</p>
	</div>
	<div style="display: flex; flex-direction: row;"> 
		<p> Orange </p>
		<p> 1,00</p>
	</div>
	<div style=" display: flex; flex-direction: row;">
		<p> Banana </p>
		<p> 0,99</p>
	 </div>
</body>
<p style= "Background: green; "> Hallo World! </p>
